
erc-training/.DS_Store
erc-training/__MACOSX/._erc-training
erc-training/__MACOSX/erc-training/._.DS_Store
erc-training/__MACOSX/erc-training/._dailydialog
erc-training/__MACOSX/erc-training/._iemocap
erc-training/__MACOSX/erc-training/._emorynlp
erc-training/__MACOSX/erc-training/._meld
erc-training/__MACOSX/erc-training/dailydialog/._.DS_Store
erc-training/__MACOSX/erc-training/dailydialog/._dailydialog_features_comet.pkl
erc-training/__MACOSX/erc-training/dailydialog/._dailydialog_features_roberta.pkl
erc-training/__MACOSX/erc-training/emorynlp/._.DS_Store
erc-training/__MACOSX/erc-training/emorynlp/._emorynlp_features_comet.pkl
erc-training/__MACOSX/erc-training/iemocap/._.DS_Store
erc-training/__MACOSX/erc-training/emorynlp/._emorynlp_features_roberta.pkl
erc-training/__MACOSX/erc-training/iemocap/._iemocap_features_comet.pkl
erc-training/__MACOSX/erc-training/iemocap/._iemocap_features_roberta.pkl
erc-training/__MACOSX/erc-training/meld/._.DS_Store
erc-training/__MACOSX/erc-training/meld/._meld_features_comet.pkl
erc-training/__MACOSX/erc-training/meld/._meld_features_roberta.pkl
erc-training/dailydialog/.DS_Store
erc-training/dailydialog/dailydialog_features_comet.pkl
erc-training/dailydialog/dailydialog_features_roberta.pkl
erc-training/dailydialog/README.md
erc-training/emorynlp/emorynlp_features_comet.pkl
erc-training/emorynlp/.DS_Store
erc-training/emorynlp/emorynlp_features_roberta.pkl
erc-training/emorynlp/README.md
erc-training/iemocap/.DS_Store
erc-training/iemocap/iemocap_features_comet.pkl
erc-training/iemocap/iemocap_features_roberta.pkl
erc-training/iemocap/README.md
erc-training/meld/.DS_Store
erc-training/meld/meld_features_comet.pkl
erc-training/meld/meld_features_roberta.pkl
erc-training/meld/README.md
